nav.navbar.navbar-custom.navbar-fixed-top(role="navigation")
  .container
    .navbar-header.page-scroll
      button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-main-collapse")
        i.fa.fa-bars
      | {% if page.type == 'index' %}
      a.navbar-brand(href="#page-top") GISLab
      | {% else %}
      a.navbar-brand(href="/") GISLab
      | {% endif %}

    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      ul.nav.navbar-nav
        li.hidden
          a(href="#page-top")
        | {% if page.type == 'index' %}
        li.page-scroll
          a(href="#services") SERVICES
        li.page-scroll
          a(href="#about") ABOUT
        li.page-scroll
          a.highlight(href="/blog") BLOG 
        | {% endif %}
        | {% if page.type == 'blog' %}
        li.page-scroll
          a.highlight(href="#page-top") BLOG
        | {% endif %}
        | {% if page.type == 'post' %}
        li.page-scroll
          a.highlight(href="/blog") BLOG 
        | {% endif %}
